body {
    margin: 0;
    padding: 0;
    background-color: #FFF8F0;
    color: #3E2723;
    font-family: sans-serif;
    font-size: 16px;
    min-height: 100vh;
}


.blog {
    display: flex;
    justify-content: space-between;
    background-color: rgb(160, 119, 119);
    padding:7px;
    padding-left: 13px;
    padding-right: 13px;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: 50px;
    height: 50px;
    background-color: #434c80;
    border-radius: 50%;
}

.base{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
}

img {
    border-radius: 5px;
    margin: 20px;
}

.main{
    flex-grow: 1;
    padding:40px;
}

.mother{
    width: 500px
}

.footer{
    background: gray;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}









li {
    margin-bottom: 5px;
    font-style: italic;
}

.li-main {
     margin-left: 50px; 
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 18px;
}



/*
a {
    color: #C65D21;
    text-decoration: none;
}

.parag {
    width: 35%;
    background-color: rgb(243, 235, 235);
    border-radius: 20px;
    padding: 30px;
}


.parag_2 {
    width: 500px;
    border-radius: 20px;
    padding: 30px;
}

.plac {
    margin-left: 80px;
}

.blank {
    display: flex;
    justify-content: center;
}

.main-page {
    width: 600px;
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}*/